* {
    font-family: "Droid Sans", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html, #root, #root > div {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
}

header, footer
{
    transition: transform 100ms;
    -moz-transition: -moz-transform 100ms;
    -webkit-transition: -webkit-transform 100ms;
}

.focused header
{
    transform: translatey(-100px);
    -moz-transform: translatey(-100px);
    -webkit-transform: translatey(-100px);
}

.focused footer
{
    transform: translatey(100px);
    -moz-transform: translatey(100px);
    -webkit-transform: translatey(100px);
}

/***************************
 * Header
***************************/
header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.2);
    box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    background: url("images/texture-darker.png");
    padding: 20px;
    color: white;
}

header label {
    float: right;
    font-size: 1.2em;
}

header input {
    background: #222;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #555;
    border: 1px solid rgba(255,255,255,.2);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 16px;
    color: white;
    font-size: 1em;
    padding: 2px 5px;
    outline: 0;
}

header #slideshow-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: white;
    border: 1px solid white;
    background: rgba(90,90,90,.4);
    position: absolute;
    margin-top: 7px;
}

/***************************
 * Main
***************************/

#details {
    transition: width 200ms;
    -moz-transition: width 200ms;
    -webkit-transition: width 200ms;
    position: relative;
    top: 0;
    width: 1px;
    float: right;
    height: 500px;
    color: white;
    text-align: left;
    line-height: 1.4em;
    overflow: hidden;
}

#details.visible
{
    width: 430px;
}

#details > div
{
    width: 400px;
    margin-left: 30px;
}

#details a
{
    color: white;
}

#details p
{
    white-space: normal;
}

#details p,
#details ul
{
    font-size: 13px;
}

#details h2
{
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#details ul span
{
    display: inline-block;
    font-size: 12px;
    width: 100px;
    color: #949494;
    vertical-align: top;
}

#details ul div
{
    color: #ffd200;
    display: inline-block;
    vertical-align: top;
}

#details ul
{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

#details img
{
    width: 100px;
    float: left;
}

#image-container {
    height: 100%;
    width: 100%;
    display: table;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background: url("images/texture.png");
}

#image-container #image-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

#image-inner-wrap .loading
{
    background: url("images/loading.gif") no-repeat 50% 50%;
    display: inline-block;
    margin: 0 auto;
    height: 300px;
    transition: width 200ms;
    -moz-transition: width 200ms;
    -webkit-transition: width 200ms;
}

#image-inner-wrap .image {
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 300px;
    transition: width 200ms;
    -moz-transition: width 200ms;
    -webkit-transition: width 200ms;
}

#image-inner-wrap {
    height: 502px;
    white-space: nowrap;
    border: 1px solid #555;
    border: 1px solid rgba(255,255,255,.2);
    display: inline-block;
    padding: 0 30px;
    background: url("images/texture-darker.png");
    box-shadow: inset 0 0 100px rgba(255,255,255,.1), 0 0 10px rgba(0,0,0,.6);
    -webkit-box-shadow: inset 0 0 100px rgba(255,255,255,.1), 0 0 10px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0 0 100px rgba(255,255,255,.1), 0 0 10px rgba(0,0,0,.6);
}

/***************************
 * Footer
***************************/

footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.2);
    box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    background: url("images/texture-darker.png");
}

#photo-thumbs {
    border: 0;
    overflow: hidden;
    width: 100%;
    background: transparent;
    padding: 4px 70px 6px;
    white-space: nowrap;
    height: 82px;
}

#photo-thumbs a {
    display: inline-block;
    border: 1px solid transparent;
}

#photo-thumbs img {
    display: block;
    width: 70px;
    height: 70px;
    border: 0;
}

#photo-thumbs a.selected {
    border: 1px solid #ffd200;
    display: inline-block;
}

.scroll-arrow {
    opacity: .3;
    transition: opacity 200ms, background-color 200ms, color 200ms;
    -moz-transition: opacity 200ms, background-color 200ms, color 200ms;
    -webkit-transition: opacity 200ms, background-color 200ms, color 200ms;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: transparent;
    z-index: 2;
    height: 30px;
    width: 30px;
    margin: 26px 20px 24px;
    line-height: 22px;
    text-align: center;
    font-size: 2em;
    padding: 2px;
    font-family: sans-serif;
    cursor: default;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

footer:hover .scroll-arrow {
    opacity: 1;
    background: #ffd200;
    color: #000;
}

#scroll-right {
    left: auto;
    right: 0;
}

/* AeroViewr Logo */

.aeroLogo,
.aeroLogo a,
#details.visible
{
    font-weight: normal;
    margin: 0;
    display: inline-block;
    text-decoration: none;
}

.aeroLogo,
.aeroLogo a
{
    font-weight: normal;
    font-size: 30px;
    color: #ffd200;
}

.aeroLogo span
{
    font-weight: bold;
}

/* Small screen fallback */

@media only screen and (max-device-width: 1024px) {

    html,
    body,
    #image-wrap,
    #image-inner-wrap
    {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-transform: translatez(0);
    }

    #image-inner-wrap .loading,
    #image-inner-wrap .image,
    #details
    {
        height: 400px;
    }

    #image-inner-wrap
    {
        height: 402px;
    }

    #details.visible
    {
        width: 330px;
    }

    #details > div
    {
        width: 300px;
    }

}

