.table_parent{
    padding-right:10px;
    width:32px;
    height:32px;
    padding-bottom:10px;
    background-repeat:no-repeat;
}
.td_class{
    padding-right:20px;
    font-weight:bold;
    padding-bottom:10px;
}
#popupWindow{margin: 0 auto;}
.class_input{
    margin-right:5px;
    border: 1px solid #666;
    background-color:#0d0d0d;
    color:#FFD200;
    font-weight:bold;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 13px;
    padding: 4px 10px;
    outline: 0;
    -webkit-appearance: none;
    cursor:pointer;
    float:right;
}
.class_input:hover {
    background-color:#1d1d1d;
}
#btn_add_new_contact{

    z-index: 1;
    position: absolute;
    clear: both;
    margin-top: -15px;
}
#pop_up input:last-child {
    margin-right: 5px;
}
#pop_up input:first-child {
    margin-left: -118px;
}
#pop_up input {
    margin-right: 125px;
}
div#popupWindow{
    padding-top: 1.6em;
    background-image: url(../aeroviewer/images/texture.gif);
}
.k-window-titlebar{
    height: 30px !important;
    background-image: url(../aeroviewer/images/texture-darker.gif) !important;
}