@charset "utf-8";
/* CSS Document */
html , body{
	margin: 0;
	padding: 0;
}
body{
	background:url("../../images/login/bg-tile.jpg") #fff;
}
#wrapper {
	width: 653px;
	position: relative;
	margin: 110px auto 0;
	/*background: #fff;	
	-webkit-box-shadow: 3px 3px 12px 1px #BDBDBD;
	box-shadow: 3px 3px 12px 1px #BDBDBD;*/
	
}
#blog-content{
	width: 653px;
	float: left;
	display: block;
	text-align: left;
	font-size: 80%;
	font-family: verdana;
	color: #666666;
	
}
.blog-top-bg {
	background-image: url("../../images/login/blog-wht-top-bg.jpg");
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 5px;
}
.blog-content-bg {
	background-image: url("../../images/login/blog-wht-vertical-bg.jpg");
	background-repeat: repeat-y;
	padding-bottom: 5px;
}
.blog-bottom-bg {
	background-image: url("../../images/login/blog-wht-bottom-bg.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 20px;
	padding-top: 10px;
}
.note{
	color: #f00;
	margin-left:30px;
}
.post{

}
.post h2{
	margin-left:30px;
	margin-top:20px; 
}
.form_login{
	margin-left: 30px;
	height: 235px;
}
.form_login input{
	margin-top: -8px;
	padding: 8px;
}
.img_design{
	float: right;
	position: relative;
	margin-right: 10px;
	margin-top: 5px;

}
/*.img_design img{
	max-width: 375px;
	max-height: 303px;
}*/

.img_design img {
	max-width: 381px;
	max-height: 303px;
	margin-top: 78px;
}