@charset "utf-8";
@import url("../kendo/css/kendo.silver.min.css");
#div_wrapper #div_footer{
	border-top: 1px outset #DBDBDE;
}
table.list_table {
	border-collapse: collapse;
	padding-bottom: 20px;
	padding-top: 20px;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-spacing: 0px;
	border-color: #DBDBDE;
}
table.list_table th, table.list_table td{
	border-color: #DBDBDE;
	border-collapse:collapse;
}

table.list_table tr:hover{
	/*background-color:#98FB98;*/
}
.tbl_single{
    border-collapse: collapse;
    border-color: #DBDBDE;
    border-spacing: 0;
    border-width: 1px;
    border-style:solid;
    margin-bottom: 20px;
    margin-top: 20px;
    empty-cells:show;
    width: 100%;
}
.tbl_single td, .tbl_single th{
    border-width: 1px !important;
    border-collapse: collapse;
    border-color: #DBDBDE;
    border-style:solid;
    padding: 3px;
}
.tbl_single td:first-child{
    width: 200px !important;
    text-align:right;
}
.tbl_single td:last-child{
    text-align:left;
}
.tbl_single td:nth-child(2) {
    width:1px !important;
}

a{
	text-decoration:none;
    color: inherit;
}
a:hover {
	
}
.k-tooltip{
	text-align:left !important;
}
.madatory {
	font-size: 14px;
	color: #990000;
}
a.a-link{
    color:#02F;
}
a.a-link:hover{
    color: #F39;
}